<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NsNotificationSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5729EBA1BD9328200F02E74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5729ECE1BD9328200F02E74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5729ED91BD9328200F02E74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
